@import url("../Welcome/welcome.css");

::placeholder {
  color: var(--white);
}

input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  color: var(--white);
  width: 1.5rem;
  height: 1.5rem;
  border: 0.2rem solid var(--white);
  border-radius: 0.2rem;
  transform: translateY(0.5rem);
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 1rem;
  height: 1rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--white);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.home-container {
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: "header";
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}

.searchbar {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.search-input {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--white);
  color: var(--white);
  font-size: 1.2rem;
  width: 70%;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  color: var(--white);
  cursor: pointer;
}

.weather {
  display: flex;
  color: var(--white);
  align-items: center;
  gap: 1rem;
}

.weather-icon {
  font-size: 2.5rem;
}

.weather-details {
  display: flex;
  flex-flow: column;
}

.weather-temperature {
  display: flex;
  align-items: flex-start;
  font-size: 1.3rem;
}

.weather-location {
  font-size: 1.1rem;
}

.main {
  grid-area: "main";
  color: var(--white);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 4rem;
}

.time {
  font-size: 10rem;
}

.greeting {
  font-size: 4rem;
}

.focus {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding-top: 2rem;
}

.focus-question {
  font-size: 3rem;
}

.focus-input {
  padding: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--white);
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}

.focus-input:focus {
  outline: none;
}

.focus-title {
  font-size: 1.5rem;
}

.focus-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}

.strike {
  text-decoration: line-through;
}

.edit-icon {
  font-size: 1.3rem;
  border-radius: 50%;
  cursor: pointer;
}

.footer {
  grid-area: "footer";
  background-color: red;
}
